<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>VITCloud</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="http://vitcloud-biocross.rhcloud.com/static/index2_files/style.17.css" type="text/css">
<script type="text/javascript" src="http://vitcloud-biocross.rhcloud.com/static/index2_files/jquery.min.js"></script>
<script type="text/javascript" src="http://vitcloud-biocross.rhcloud.com/static/index2_files/script.19.js"></script>

<style>

.top{
	border-radius: 0px;
	
}
#vitc{
	color: white;
}

.s_t{
	color: black;
}

.u_t{
	color: #009600;
}

.d_t{
	color: #003DB9;
}

</style>

</head>
<body>
<div class="top">
<h1><a href="http://vitcloud-biocross.rhcloud.com/" title="VITCloud" id="vitc">VITCloud</a></h1>
<ul>
<li><a href="http://vitcloud-biocross.rhcloud.com/search?thesearchbox=" title="What's up right now?">Search</a></li>
<li><a href="http://vitcloud-biocross.rhcloud.com/howitworks" title="How does it all come together?">How it Works?</a></li>
<li><a href="http://vitcloud-biocross.rhcloud.com/stats" title="See who's been sharin' like crazy!">Top Sharers</a></li>
<li><a href="http://vitcloud-biocross.rhcloud.com/gettheapp" title="Get the official App and start sharing!">Get the App!</a></li>
</ul>
</div>

<form action="search" method="get" class="search">
<fieldset>
<div><input type="text" name="thesearchbox" value="" id="thesearchbox" autocomplete="on">
	<ul class="autocomplete" style="top: 109.5px; left: 150px; width: 800px;"></ul></div> 
<div>
	<input type="submit" value="Search" id="thesearchbutton"></div>
</fieldset>
</form>
<br/><br/>

