{% if results %}
<div class="results">
	<h2 style="border-bottom: none">{{block}} Block </h2>
	<div> </div>
	<h3><span class="s_t">size</span>  |  <span class="u_t">block</span>  |  <span class="d_t">room</span></h3>
{% if not paragraph %}

{% endif %}
{% for result in results %}

	<dl>
		<dt>
			<a href="./file?q={{result.name}}">{{ result.name }}</a>
		</dt>
		<dd>
			<span class="s">{{result.size}} MB</span>
			<span class="u">{{result.block}}</span>
			<span class="d">{{result.room}}</span>
			
		</dd>	
	</dl>

 {% endfor %}
 </div>

 {% endif %}