{% include "home/header.htm" %}

<br/><br/>
<p class="generic">Well, it's simple! You get the app, install it, and tell it your <strong> Block & Room no. </strong> and the <em>folder</em> where you keep all your <em>good stuff</em> (for example your <strong>Downloads</strong> folder, with your movies, music, games and stuff you wanna share).</p>
<p class="generic"> And that's it! Our App will index your files, and send that index to VITCloud! (don't worry, it won't upload your actual files!)</p>
<br/>
<p class="generic"> And all the good stuff you wanna share will be available to <strong>SEARCH</strong> on VITCloud. </p>
<p class="generic"> Now, for example, if anyone searches for a movie that our app found in your computer, he will be told that you have it! </p>
<p class="generic"> See, that means no more posting on facebook saying stuff like "does anyone have this movie, does anyone have that game?" Just type it in here, and if someone has it in the campus, we'll make sure you know who ;) </p>

<br/><br/>
<p class="generic"> Please note one thing though, <strong>VITCloud is nothing without your participation.</strong> So as much as you wanna search the stuff you want, <strong>please download the App, and share what you have!</strong> That's the only way the database will grow, more people will be able to find what they've been looking for! </p>




<div class="footer">

Copyright 2013<br/>Siddharth Gupta<br/>Saurabh Joshi<br/><br/>dev.alpha.01<br/>12.12.2012
</div>

<script type="text/javascript">

$(document).ready(function() {
	$("#thesearchbox").focus();
	//$("#thesearchbox").autocomplete("");

});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33172500-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>